@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@layer base {
  * {
    @apply antialiased;
  }

  body {
    @apply font-sans text-slate-900 bg-slate-50;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold tracking-tight;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  p {
    @apply text-slate-600 leading-relaxed;
  }

  small {
    @apply text-slate-500;
  }
}
